:root {
    --bg-body: rgba(209, 192, 192, 0.863);
    --text-body: black;

    --bg-header: rgb(111, 111, 161);
    --text-header: black;

    --bg-main: black;
    --text-main: white;

    --section: rgb(111,111,161);
    --text-section: black;

    --bg-article: black;
    --article-text: white;

    --bg-footer: var(--bg-header);
    --text-footer:var(--text-header);

    --bg-aside: black;
    --text-aside: white;

}


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Empuja el footer hacia abajo */
}


header {
    display: flex;
    flex-direction: column;      /* elementos uno debajo del otro */
    justify-content: flex-end;   /* manda h1 y nav al fondo */
    align-items: center;         /* centra horizontalmente */
    height: 200px;               
    background-image: url("./img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 20px;        /* separación del borde inferior */
}



nav {
    background: var(--nav-bg);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#about-me {
    text-align: center;
    background-image: url("./img/beige.png");
    color: black;
}

#articles-container {
    display: flex;
    flex-wrap: wrap;   /* permite que bajen a otra línea */
    gap: 20px;         /* espacio entre artículos */
    justify-content: center; /* opcional: centrar artículos */ 
    padding-bottom: 40px;  
}



article {
    padding: 10px;
    border: 2px solid black;  
    padding: 15px;              
    border-radius: 10px;
    background-color: rgb(243, 242, 231);
    color:rgb(5, 5, 5);
    align-items: center;
    
}

#articles-container article {
    transition: transform 0.5s, box-shadow 0.5s;
}

#articles-container article:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.473);
}



.photos {
    width: 200px;
    height: 200px;
    object-fit: cover;   /* recorta sin deformar */
    border-radius: 10px; /* opcional */
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 20px 0;
}

#proyects {
    padding: 10px;
    background-color: black;   
    color: antiquewhite;

}

#proyects article {
    margin-bottom: 20px;
    background-image: url("./img/beige.png");
    color: black;

    
}

#proyects article a{
    text-decoration: none;
}

#proyects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;



}
#proyects {
    text-align: center;
}

#contactme {
    text-align: center;
    
}

#contact-me {
    background-color: black;
    color:antiquewhite
}

.contact-container article{
    margin-bottom: 20px;
    background-image: url(./img/beige.png);
    color: black;
}




#pets-section {
    display: flex;
    align-content: center;
    gap: 2.5rem;
    padding: 2rem ;
}

#pets-section article{
    text-align: center;
}

img {
    width: 225px;
    max-height: 225px;
    height: 100%;
    object-fit: cover;
}

footer {
    text-align: center;
    border: 2px black solid;
    border-radius: 5px;
    padding: 25px;
    background-image: url("./img/fondo.png");

}


#pets-section article{
    transition: transform 0.5seg, box-shadow 0.5seg;
}

#pets-section article:hover{
    transform:scale(1.2);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.473);
}