:root {
    --bg-body: rgba(209, 192, 192, 0.863);
    --text-body: black;

    --bg-header: rgb(111, 111, 161);
    --text-header: black;

    --bg-main: black;
    --text-main: white;

    --section: rgb(111,111,161);
    --text-section: black;

    --bg-article: black;
    --article-text: white;

    --bg-footer: var(--bg-header);
    --text-footer:var(--text-header);

    --bg-aside: black;
    --text-aside: white;

}



body {
    background: white
}

header {
    display: flex;
    flex-direction: column;      /* elementos uno debajo del otro */
    justify-content: flex-end;   /* manda h1 y nav al fondo */
    align-items: center;         /* centra horizontalmente */
    height: 200px;               /* o la altura que quieras */
    background-image: url("./img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 20px;        /* separación del borde inferior */
}



nav {
    background: var(--nav-bg);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#about-me {
    text-align: center;
    background-image: url("./img/beige.png");
    color: black;
}

#articles-container {
    background-color: ;
    display: flex;
    flex-wrap: wrap;   /* permite que bajen a otra línea */
    gap: 20px;         /* espacio entre artículos */
    justify-content: center; /* opcional: centrar artículos */ 
    padding-bottom: 40px;  
}

article {
    padding: 10px;
    border: 2px solid black;  
    padding: 15px;              
    border-radius: 10px;
    background-color: rgb(243, 242, 231);
    color:rgb(5, 5, 5)
    
}

.photos {
    width: 200px;
    height: 200px;
    object-fit: cover;   /* recorta sin deformar */
    border-radius: 10px; /* opcional */
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 20px 0;
}

#proyects {
    padding: 10px;
    background-color: black;   
    color: antiquewhite;

}

#proyects article {
    margin-bottom: 20px;
    background-image: url("./img/beige.png");
    color: black;

    
}

#proyects article a{
    text-decoration: none;
}

#proyects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}
#proyects {
    text-align: center;
}

#contactme {
    text-align: center;
    
}

#contact-me {
    background-color: black;
    color:antiquewhite
}

.contact-container article{
    margin-bottom: 20px;
    background-image: url(./img/beige.png);
    color: black;
}

footer {
    text-align: center;
    border: 2px black solid;
    border-radius: 5px;
    padding: 25px;
    background-image: url("./img/fondo.png");
}

